{# Custom form field to create a confirmation modal #}
<div id="node-confirm-modal">
  <h1>Are you sure you want to save this content? </h1>
  <button class="btn-confirm">Yes</button>
  <button class="btn-cancel">No</button>
</div>
